html
    head 
        #{style}  
    title WIKIPEDIA
    body
        div
            #{history}
        div
            p main yaha hhsitory khatam
        div 
            #{useInOtherWritingSystem}
        div
            p main yaha writing kahtam
        div 
            #{otherUses}
